<!DOCTYPE html>
{% extends "base.html" %}
     <html>
        <head>
                {% block title %}Detailed Alumni{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "StudentInfoMain">
        <div id = "StudentInfoInner">
            <div id = "profilephoto">
                <img src="{{ person.photo.url }}" height="200" width="200 border="1" ">
            </div>
            <table border="0" align="right">
                <tr>
                    <td>Username:</td>
                    <td>{{ user.username }}</td> 
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>{{ person.student_ID }}</td> 
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>{{ person.first_name}}</td> 
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ person.last_name }}</td> 
                </tr>
                <tr>
                    <td>Study Level:</td>
                    <td>{{ person.year }}</td> 
                </tr>
                <tr>
                    <td>Student Course:</td>
                    <td>{{ person.degree }}</td> 
                </tr>
            </table>
        </div>
        </div>
        <div id="Options">
            <ul>
                <li><a href="/student/{{ user.username }}">Home</a></li>
                <li><a href="/extra_curricular/add_extra_curricular/{{ user.username }}">Add Experience</a></li>
                <li><a href="/student/profile/{{ user.username }}">View User Profile</a></li>
                <li><a href="/skill/add_skill/{{ user.username }}">My Skills</a></li>
                <li><a href="/alumni/Find_Alumni/{{ user.username }}">Contact Alumni</a></li>
                <li><a href="/accounts/logout/">Log Out</a></li>
      </ul>
        </div>
        <div id = "detailedalumnimain">
        <div id = "detailedalumniheader">
        <h1>{{details.first_name }} {{details.last_name }}</h1>
        </div>
        <p>You may contact the alumni in question if an email is provided, by clicking the link</p>
        <p>View in depth details relating to {{ details.first_name}} {{details.last_name }} below: </p>
        <div id = "detailedalumni">
			<table border="0" align="right">
                <tr>
                    <td>First Name:</td>
                    <td>{{ details.first_name }}</td> 
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ details.last_name }}</td> 
                </tr>
                <tr>
                    <td>Course:</td>
                    <td>{{ details.course }}</td> 
                </tr>
                <tr>
                    <td>Faculty:</td>
                    <td>{{ details.faculty }}</td> 
                </tr>
                <tr>
                    <td>Sector:</td>
                    <td>{{ details.sector }}</td> 
                </tr>
                <tr>
                    <td>Self-employed:</td>
                    <td>{{ details.self_employed }}</td> 
                </tr>
                <tr>
                    <td>Contact Information:</td>
                    <td><a href="mailto:{{ details.email }}">{{ details.email }}</a></td> 
                </tr>
            </table>
        </div>
        </div>


        {% endblock %}
        </body>

</html>