<!DOCTYPE html>
{% extends "base.html" %}
        <html>
        <head>
                {% block title %}Find Alumni{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "StudentInfoMain">


        </div>
        <div id="Options">
            <ul>
                <li><a href="/student/">Home</a></li>
                <li><a href="/extra_curricular/add_extra_curricular/">Add Information</a></li>
                <li><a href="#">View User Profile</a></li>
                <li><a href="#">Checklist</a></li>
                <li><a href="/skill/add_skill/">My Skills</a></li>
                <li><a href="/alumni/Find_Alumni/">Contact Alumni</a></li>
            </ul>
        </div>

        <h1>Find an Alumni</h1>

        <form id="Find_Alumni_form" method="POST" action="/alumni/Find_Alumni/">
        {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{field.label}} : {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Search" />
        </form>

        <footer>
        </footer>
        {% endblock %}

        </body>
</html>
