<!DOCTYPE html>
{% extends "base.html" %}
	 <html>
        <head>
                {% block title %}Homepage{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "StudentInfoMain">
        <div id = "StudentInfoInner">
        	<p>Username: {{ user.username }}</p>
            <p>Student ID:{{ person.student_ID }}</p>
            <p>Student first name:{{ person.first_name}}</p>
            <p>Student last name: {{ person.last_name }}</p>
            <p>Study Level: {{ person.year }}</p>
            <p>Student Course: {{ person.degree }}</p>

        </div>
		</div>
		<div id="Options">
			<ul>
				<li><a href="/student/">Home</a></li>
            	<li><a href="/extra_curricular/add_extra_curricular/">Add Information</a></li>
            	<li><a href="#">View User Profile</a></li>
            	<li><a href="#">Checklist</a></li>
            	<li><a href="/skill/add_skill/">My Skills</a></li>
				<li><a href="/alumni/Find_Alumni/">Contact Alumni</a></li>
        	</ul>
		</div>
		<div class = "Homebanner">
		</div>
		<div id = "Homebody">
		<p>Hello {{person.first_name}}</p>
		<p>Welcome to your E-Profile</p>
		<br>
		<p>This application is intended as an aid to you during your employment endeavours.</p>
		<p>It can be used during the process of building a curriculum vitae</p>
		<p>You may add information of experiences you have had during your educational career</p>
		<br>
		<p>For any further information: </p>
		<br>


		</div>


		<footer>

		</footer>
        {% endblock %}
		</body>

</html>
