<!DOCTYPE html>
{% extends "base.html" %}
	 <html>
        <head>
                {% block title %}Your Profile{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "StudentInfoMain">


		</div>
		<div id="Options">
			<ul>
				<li><a href="/student/">Home</a></li>
            	<li><a href="/extra_curricular/add_extra_curricular/">Add Information</a></li>
            	<li><a href="#">View User Profile</a></li>
            	<li><a href="#">Checklist</a></li>
            	<li><a href="/skill/add_skill/">My Skills</a></li>
				<li><a href="/alumni/Find_Alumni/">Contact Alumni</a></li>
        	</ul>
		</div>
		<div class = "Homebanner">
			<p>{{ user.username }}</p>
            <p>{{ person.student_ID }}</p>
            <p>{{ person.last_name }}</p>
            <p>{{ person.year }}</p>
            <p>{{ person.degree }}</p>

		</div>


		<footer>

		</footer>
        {% endblock %}
		</body>

</html>