<!DOCTYPE html>
{% extends "base.html" %}
     <html>
        <head>
                {% block title %}Detailed experience{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "StudentInfoMain">
        <div id = "StudentInfoInner">
            <div id = "profilephoto">
                <img src="{{ person.photo.url }}" height="200" width="200 border="1" ">
            </div>
            <table border="0" align="right">
                <tr>
                    <td>Username:</td>
                    <td>{{ user.username }}</td> 
                </tr>
                <tr>
                    <td>Student ID:</td>
                    <td>{{ person.student_ID }}</td> 
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>{{ person.first_name}}</td> 
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ person.last_name }}</td> 
                </tr>
                <tr>
                    <td>Study Level:</td>
                    <td>{{ person.year }}</td> 
                </tr>
                <tr>
                    <td>Student Course:</td>
                    <td>{{ person.degree }}</td> 
                </tr>
            </table>
        </div>
        </div>
        <div id="Options">
            <ul>
                <li><a href="/student/{{ user.username }}">Home</a></li>
                <li><a href="/extra_curricular/add_extra_curricular/{{ user.username }}">Add Information</a></li>
                <li><a href="/student/profile/{{ user.username }}">View User Profile</a></li>
                <li><a href="/skill/add_skill/{{ user.username }}">My Skills</a></li>
                <li><a href="/alumni/Find_Alumni/{{ user.username }}">Contact Alumni</a></li>
                <li><a href="/accounts/logout/">Log Out</a></li>
      </ul>
        </div>
        <div id = "detailedexperiencemain">
        {% for info in details %}
			{{ info.type_of_exp}}
		{% endfor %}

        





        </div>

        {% endblock %}
        </body>

</html>