<!DOCTYPE html>
{% load staticfiles %}
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "CSS/stylesheet.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script type="text/javascript" src="CSS/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="CSS/restive.min.js"></script>

        <script>
    	$(document).ready(function () {
        $('body').restive({
            breakpoints: ['240', '320', '480', '640', '960', '1024', '1280'],
            classes: ['css-240', 'css-320', 'css-480', 'css-640', 'css-960', 'css-1024', 'css-1280']            
        });
    	});
		</script>
	</head>

	<body>
		<div id = "Banner">
		<img src="{% static "images/Banner.jpg" %}" alt="Banner" style="width:100%;height:85px;">
		</div>
		<div id = "Navbar">
			<ul>
  				<li><a href="#">OPPORTUNITIES</a></li>
  				<li><a href="#">BROADENING</a></li>
  				<li><a href="#">FOUNDATION FUNDING</a></li>
  				<li><a href="#">CASE STUDIES</a></li>
			</ul>
			<div class = "Navbar-Login-Button">
				<a href="#">LOG IN</a>
			
			</div>
		</div>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<footer>
  			<p>&copy; University of Leeds</p>
  			<p>Accessibility</p>
  			<p>Freedom of information</p>
  			<p>Terms & Conditions</p>
		</footer>
	</body>

</html>