<!DOCTYPE html>
{% extends "base.html" %}
        <html>
        <head>
                {% block title %}Invalid Login{% endblock %}
        </head>

        <body>
        {% block content %}
        <div class = "login">
                <div class="loginbox">
                        {% if form.errors %}
                                <p class="error">Sorry, that's not a valid username or password </p>
                        {% endif %}
                
                <form class="loginform" action="/accounts/auth/" method="post">
                        {% csrf_token %}
                        <h1>Login</h1>
                        <p>Sign in using your university credentials</p>
                <p class="clearfix">
                        <label for="username">Username</label>
                        <input type="text" name="username" value="" id="login" placeholder="Username">
                </p>
                <p class="clearfix">
                        <label for="password">Password</label>
                        <input type="password" name="password" value="" id="password" placeholder="Password"> 
                </p>
                <p class="clearfix">
                        <input type="submit" name="submit" value="submit">
                </p>
                <p style="color: red;text-align: center;">Sorry, that's not a valid username or password</p>
                </form>
                </div>

                </div>
        <div class = "flex-container-Login">
                <div id = "flex-boxes-Login">
                        <a href="#">My E Profile Enquiries and Feedback</a>
                        <i class="fa fa-envelope-o"></i>
                                
                </div>
                <div id = "flex-boxes-Login">
                        <a href="#">My E Profile Ambassadors</a>
                        <i class="fa fa-envelope-o"></i>
                                
                </div>
                <div id = "flex-boxes-Login">
                        <a href="#">Leeds Network Feedback and Comments</a>
                        <i class="fa fa-envelope-o"></i>
                                
                </div>
                <div id = "flex-boxes-Login">
                        <a href="#">My E Profile Volunteering</a>
                        <i class="fa fa-envelope-o"></i>
                                
                </div>
                </div>
                {% endblock %}
		<footer>
        </footer>

        </body>
</html>